[submodule "emacs/.emacs.d/ido-vertical-mode.el"]
	path = emacs/.emacs.d/site-lisp/ido-vertical-mode.el
	url = git@github.com:creichert/ido-vertical-mode.el
[submodule "emacs/.emacs.d/site-lisp/flowmacs"]
	path = emacs/.emacs.d/site-lisp/flowmacs
	url = https://github.com/CodyReichert/flowmacs
[submodule "emacs/.emacs.d/site-lisp/webpack-dev-server.el"]
	path = emacs/.emacs.d/site-lisp/webpack-dev-server.el
	url = https://github.com/creichert/webpack-dev-server.el
