
*_rsa
*_dsa
*.local

# this is a folder designed for you to keep
dotlocal/

# hide ".$somerc.local" configs. They are used to store private files and
# configurations not synced to github.
\.*\.local
\.uuid
