
*_rsa
*_dsa
*.local

# this is a folder designed for you to keep
dotlocal/
bin/bin/xflux

# hide ".$somerc.local" configs. They are used to store private files and
# configurations not synced to github.
\.*\.local
\.uuid

xmonad/.xmonad/xmonad-x86_64-linux
xmonad/.xmonad/xmonad.errors