
#include ".Xresources.d/theme"

#define FONT1_FAMILY monofur
#define FONT1 xft:FONT1_FAMILY:style=Regular:size=12
*font: FONT1

XTerm*selectToClipboard: true
*VT100.Translations: #override \
    ShiftInsert: insert-selection(CLIPBOARD) \n\
    Insert: insert-selection(PRIMARY) \n\
    Shift: insert-selection(CLIPBOARD) \n\
    Shift: select-start() \n\
    Shift: select-extend() \n\
    Shift: select-end(CLIPBOARD)

Emacs.font: FONT1_FAMILY
Emacs.menuBar: off
Emacs.toolBar: -1
Emacs.verticalScrollBars: off

xterm*faceName: FONT1
xterm*renderFont: true
! xterm*colorBDMode: true
! xterm*colorBD: rgb:fc/fc/fc
xterm*scrollBar: false
xterm*letterSpace: 0
xterm*forcePackedFont: false
xterm*wideChars: true
! XTerm*colorBD: black
! XTerm*colorIT: black
! XTerm*colorUL: black

! *customization: -color define #COLOR? system-wide...
! disable color overrides, always use xresources. this is defined by the COLOR... in /etc/X11/Xresources
*customization:
XTerm*urlLauncher: chromium
XTerm*termName: xterm-256color
! XTerm*eightBitInput: false
! XTerm*eightBitOutput:  true
xterm*utf8: 2

! *VT100*utf8:            1
! *VT100*eightBitInput:   false
! *VT100*eightBitControl: false
! *VT100*eightBitOutput:  true

Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.hintstyle: hintslight
Xft.rgba: rgb

URxvt*font: FONT1
URxvt*scrollBar: false
