
#include ".Xresources.d/theme"

#define FONT1 xft:monofur:style=Regular:size=12

*VT100.Translations: #override \
<Key>Delete: string(0x04) \n\
<Key>BackSpace: string(0x7F)

XTerm*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)
*VT100*VT100.translations: #override <Btn1Up>: select-end(PRIMARY, CLIPBOARD, CUT_BUFFER0)

Emacs.menuBar: 0
Emacs.toolBar: 0
Emacs.verticalScrollBars: off

xterm*faceName: FONT1
xterm*renderFont: true

xterm*scrollBar: false
xterm*letterSpace: 0
xterm*forcePackedFont: false
xterm*wideChars: true
! XTerm*colorBD: black
! XTerm*colorIT: black
! XTerm*colorUL: black

! *customization: -color define #COLOR? system-wide...
! disable color overrides, always use xresources. this is defined by the COLOR... in /etc/X11/Xresources
*customization:
XTerm*urlLauncher: chromium
XTerm*termName: xterm-256color
XTerm*eightBitInput: false
XTerm*eightBitOutput:  true
xterm*utf8: 2

*VT100*utf8:            1
*VT100*eightBitInput:   false
*VT100*eightBitControl: false
*VT100*eightBitOutput:  true

Xft.lcdfilter: lcddefault
Xft.antialias: true
Xft.hintstyle: hintslight
Xft.rgba: rgb

URxvt*font: FONT1
URxvt*scrollBar: false
