[Unit]
Description=XScreenSaver
PartOf=graphical.target
[Service]
ExecStart=/usr/bin/xscreensaver -no-capture-stderr -no-splash
Restart=always
[Install]
WantedBy=default.target
