[Unit]
Description=XScreenSaver
PartOf=graphical.target
[Service]
ExecStart=/usr/bin/xscreensaver -no-splash
Environment=DISPLAY=:0
Restart=on-failure
RestartSec=30s
[Install]
WantedBy=default.target
